<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: headFragment('公告管理')">
    <meta charset="UTF-8">
    <title>公告管理</title>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="header" th:replace="admin/fragments/header :: headerFragment"></div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">
                        公告管理
                    </h1>
                </div>
                <div class="row row-cards row-deck">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    全部公告
                                </h3>
                                <div class="card-options">
                                    <a class="btn btn-sm btn-primary"
                                       th:href="@{/admin/announcement/new}">新公告</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table card-table table-vcenter text-nowrap">
                                    <thead>
                                    <tr>
                                        <th>标题</th>
                                        <th>发布时间</th>
                                        <th class="w-1"></th>
                                        <th class="w-1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="announcement : ${announcements.content}">
                                        <td><a class="text-inherit" th:href="@{/admin/announcement/edit/{id}(id=${announcement.id})}"
                                               th:text="${announcement.title}">title</a></td>
                                        <td th:text="${#dates.format(announcement.publishTime, 'yyyy-MM-dd HH:mm')}"></td>
                                        <td>
                                            <a class="icon" th:href="@{/admin/announcement/edit/{id}(id=${announcement.id})}">
                                                <i class="fe fe-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <div class="item-action dropdown">
                                                <a href="javascript:void(0)" data-toggle="dropdown" class="icon"
                                                   aria-expanded="false"><i class="fe fe-trash"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     x-placement="bottom-end"
                                                     style="position: absolute; transform: translate3d(15px, 20px, 0px); top: 0; left: 0; will-change: transform;">
                                                    <a th:href="@{/admin/announcement/delete/{id}(id=${announcement.id})}"
                                                       class="dropdown-item">
                                                        <i class="dropdown-icon fe fe-trash"></i> 删除</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-sm btn-secondary"
                                   th:href="@{/admin/announcement(page=${announcements.currentPage - 1})}"
                                   th:if="${!announcements.isFirst()}">&laquo; 上一页</a>
                                <a href="#" class="btn btn-sm btn-secondary"
                                   th:href="@{/admin/announcement(page=${announcements.currentPage + 1})}"
                                   th:if="${!announcements.isLast()}">下一页 &raquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" th:replace="admin/fragments/footer :: footerFragment"></footer>
</div>
</body>
</html>