<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: headFragment('登录')">
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body class="">
<div class="page">
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <form id="login-login" class="card" method="post" th:action="@{/admin/login}" th:object="${adminLogin}">
                        <div class="card-body p-6">
                            <div class="card-title">登录</div>
                            <div class="alert alert-danger" th:if="${message}" th:text="${message}"></div>
                            <div class="form-group">
                                <label class="form-label">用户名</label>
                                <input type="text" class="form-control" id="email" placeholder="输入用户名" required
                                       th:field="*{username}">
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    密码
                                </label>
                                <input type="password" class="form-control" id="password" placeholder="输入密码" required
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="密码至少 8 位，至少包含一个大写字母和一个小写字母"
                                       th:field="*{password}">
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="remember">
                                    <span class="custom-control-label">记住登录状态</span>
                                </label>
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>