<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/head :: headFragment('编辑用户信息')">
    <meta charset="UTF-8">
    <title>编辑用户信息</title>
</head>
<body class="">
<div class="page">
    <div class="page-main">
        <div class="header" th:replace="admin/fragments/header :: headerFragment"></div>
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="page-header">
                    <h1 class="page-title">用户: <span th:text="${user.username}"></span></h1>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-body">
                                <form th:action="@{/admin/user/edit/{id}(id=${user.id})}">
                                    <div class="form-group">
                                        <label class="form-label" for="email">电子邮箱</label>
                                        <div class="input-group">
                                            <input type="hidden" value="changeEmail" name="action">
                                            <input placeholder="电子邮箱" type="email" name="email" id="email" class="form-control"
                                                   th:value="${user.email}">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit">修改</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <div class="form-group">
                                    <label class="form-label">密码</label>
                                    <a class="btn btn-primary"
                                       th:href="@{/admin/user/edit/{id}(id=${user.id}, action='resetPassword')}">重置密码</a>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">两步验证</label>
                                    <div th:text="${user.twoFactor == null ? '未启用' : '已启用'}"></div>
                                    <a class="btn btn-danger"
                                       th:href="@{/admin/user/edit/{id}(id=${user.id}, action='disable2FA')}"
                                       th:if="${user.twoFactor != null}">停用</a>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <a class="btn btn-secondary" th:href="@{/admin/user}">返回列表</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="card-header">更多操作</div>
                            <div class="card-body">
                                <a class="btn btn-outline-danger btn-block"
                                   th:href="@{/admin/user/delete/{id}(id=${user.id})}">删除用户</a>
                                <a class="btn btn-outline-primary btn-block"
                                   th:href="@{/admin/user/developerprofile/edit/{id}(id=${user.id})}"
                                   th:if="${user.developer}">开发者资料</a>
                                <a class="btn btn-outline-primary btn-block"
                                   th:href="@{/admin/user/customerprofile/edit/{id}(id=${user.id})}"
                                   th:if="${user.customer}">需求方资料</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer" th:replace="admin/fragments/footer :: footerFragment"></footer>
</div>
</body>
</html>