<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer fragment</title>
</head>
<body>
<footer th:fragment="footerFragment" class="page-footer font-small pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <ul class="list-inline list-unstyled">
            <li class="list-inline-item">
                关于
            </li>
        </ul>
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018
        <a href="#">CROWD platform</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>