<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer fragment</title>
</head>
<body>
<footer th:fragment="footerFragment" class="page-footer font-small">
    <!-- Footer Links -->
    <div class="container text-center pt-2 pb-2">
        <ul class="list-inline m-0" id="footer-link-list">
            <li class="list-inline-item m-0"><a th:href="@{/about}">关于</a></li>
            <li class="list-inline-item m-0"><a target="_blank" th:href="@{/feedback/new}">反馈</a></li>
        </ul>
    </div>
    <!-- Footer Links -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018
        <a href="#">CROWD platform</a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>