<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header fragment</title>
</head>
<body>
<nav th:fragment="navFragment" class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" th:href="@{/}">CROWD 众包平台</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-top"
                aria-controls="navbar-top" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-top">
            <ul class="navbar-nav ml-auto">
                <li th:if="${session.user} == null" class="nav-item">
                    <a class="nav-link active" href="#" th:href="@{/user/login}">登录</a>
                </li>
                <li th:if="${session.user} != null" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="user-dropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" th:text="${session.user.username}">Username</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-dropdown">
                        <a class="dropdown-item" href="#">用户中心</a>
                        <a class="dropdown-item" href="#">订单管理</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">发送关于此页的反馈</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">退出</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>