body {
    padding-top: 3.5rem;
    font-weight: 400;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    overflow-y: scroll;
}

main {
    flex: 1 1 auto;
}

.container-main {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.jumbotron {
    margin-bottom: 0;
}

.btn {
    margin: 0;
}

.profile-info {
    font-size: 1.25rem;
    padding: .3rem 0;
}

.profile-info .mi {
    vertical-align: middle;
    margin: 0 .2rem 0 0;
}

code {
    font-size: 1em;
    word-break: break-all;
}

.dropdown-divider {
    margin: 0;
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-list .card {
    transition: .2s;
}

.card-list .card:hover {
    background-color: rgba(0, 0, 0, .03);
}

.page-link {
    margin: 0;
    border: 1px solid #005cbf !important;
    border-radius: 2px !important;
    transition: .2s
}

.page-link:hover {
    background-color: rgba(0, 0, 0, .1) !important;
}

.page-item.active .page-link {
    background-color: #005cbf !important;
    color: #fff !important;
}

.card-ul li {
    margin-left: 15px;
    list-style-type: disc !important;
    color: #005cbf !important;
}

.card-ul li a {
    color: black !important;
    text-decoration: none !important;
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 0 4px;
    display: block;
}

.card-ul li a:hover {
    color: #005cbf !important;
    background-color: rgba(0, 0, 0, .03);
    border-color: rgba(0, 0, 0, .03);
}

.text-darkgray {
    color: #333;
}

.qr-image {
    padding: 1em;
}

.list-price {
    margin: 0;
}

.order-id {
    font-weight: bold;
}

.input-group {
    margin-bottom: 1em;
}

.indent-2 {
    text-indent: 2em;
}

.welcome-bar {
    background-color: #e9ecef;
    padding: 1em 0
}

#footer-link-list li + li:before {
    content: "| ";
    color: #a9a9a9;
    padding: 0 .5em;
}

#message-bar {
    color: #004085;
    background-color: #cce5ff;
}

#message-bar a {
    color: #004085;
}

#message-bar a:hover {
    color: #333!important;
}

#message-bar .container {
    padding: .75rem 1rem;
}

#message-bar.secondary {
    color: #383d41;
    background-color: #e2e3e5;
}

#message-bar.secondary a {
    color: #383d41;
}

#message-bar.info {
    color: #0c5460;
    background-color: #d1ecf1;
}

#message-bar.info a {
    color: #0c5460;
}

#message-bar.success {
    color: #155724;
    background-color: #d4edda;
}

#message-bar.success a {
    color: #155724;
}

#message-bar.warning {
    color: #856404;
    background-color: #fff3cd;
}

#message-bar.warning a {
    color: #856404;
}

#message-bar.danger {
    color: #721c24;
    background-color: #f8d7da;
}

#message-bar.danger a {
    color: #721c24;
}

.turbolinks-progress-bar {
    background-color: #fff;
}

.editor-toolbar {
    border-top: 1px solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.CodeMirror {
    height: 300px;
    border: 1px solid #a9a9a9;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.md-render img {
    max-width: 100%;
}

blockquote {
    color: #3e4246;
    border-left: 4px solid #71797f;
    padding-left: 1em;
}
