<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment('需求详情')">
    <meta charset="UTF-8">
    <title>需求详情</title>
</head>
<body>
<nav th:replace="fragments/header :: navFragment"></nav>


<main role="main">
    <div class="container container-main">
        <!-- Example row of columns -->
        <div class="text-black-50">需求详情</div>
        <h2 class="h2" th:text="${demand.title}">XXX 网络教学平台</h2>
        <div class="row slide-up-fade-in">
            <!-- Left column -->
            <div class="col-md-8">
                <div class="alert alert-info" th:if="${demand.status == 'CONTRACTED'}">
                    此需求已被承包，再找找其他需求吧。
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">预期价格</div>
                    <div class="h4 text-danger" th:text="'￥'+ ${demand.price}">￥5600.00</div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">介绍</div>
                    <div class="sh4" th:utext="${demand.renderDetailHtml()}">
                        网络教学平台作为传统教学的有效辅助手段...
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">期限</div>
                    <div class="sh4"
                         th:text="${#dates.format(demand.startDate,'yyyy-MM-dd')} +' ~ '+ ${#dates.format(demand.endDate,'yyyy-MM-dd')}">
                        2018-11-20 ~ 2018-11-31
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">附件</div>
                    <div class="sh4"><a href="#" th:href="${'/uploads/' + demand.attachment}">下载附件</a></div>
                </div>
                <th:block th:if="${session.user.developer}">
                    <th:block th:if="${demand.customerId != session.user.id}">
                        <div class="p-3 mb-3 bg-white" th:if="${demand.status == 'PASS'}">
                            <div class="text-black-50">对此需求感兴趣？参与竞标即有机会承包项目。</div>
                            <a href="#" class="btn btn-primary" th:classappend="${demand.status == 'PASS' ? '' : 'disabled'}"
                               th:href="@{/bid/join/{id}(id=${demand.id})}">参与竞标</a>
                        </div>
                        <div class="p-3 mb-3 bg-white" th:if="${demand.status != 'PASS'}">
                            <div class="text-black-50">此需求未开放竞标。</div>
                        </div>
                    </th:block>
                    <div class="p-3 mb-3 bg-white" th:if="${demand.customerId == session.user.id}">
                        <div class="text-black-50">自己不能参与自己的需求的竞标。</div>
                    </div>
                </th:block>
                <th:block th:if="${!session.user.developer}">
                    <th:block th:if="${demand.customerId != session.user.id}">
                        <div class="p-3 mb-3 bg-white" th:if="${demand.status == 'PASS'}">
                            <div class="text-black-50">您还不是开发者，无法参与竞标。</div>
                            <a href="#" class="btn btn-primary" th:href="@{/user/profile(page=dev)}">认证开发者</a>
                        </div>
                        <div class="p-3 mb-3 bg-white" th:if="${demand.status != 'PASS'}">
                            <div class="text-black-50">此需求未开放竞标。</div>
                        </div>
                    </th:block>
                    <div class="p-3 mb-3 bg-white" th:if="${demand.customerId == session.user.id}">
                        <div class="text-black-50">自己不能参与自己的需求的竞标。</div>
                    </div>
                </th:block>
            </div> <!-- /Left column -->

            <!-- Right column -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">更多信息</div>
                    <div class="card-body">
                        <div class="text-black-50">发布者</div>
                        <p class="sh4" th:text="${customerProfile.name}">CUSTOMER1</p>
                        <div class="text-black-50">发布时间</div>
                        <p class="sh4" th:text="${#dates.format(demand.publishTime,'yyyy-MM-dd HH:mm')}"></p>
                        <div class="text-black-50">地区</div>
                        <p class="sh4" th:text="${demand.region}">天津</p>
                        <div class="text-black-50">分类</div>
                        <p class="sh4" th:text="${category.name}">教育</p>
                        <a class="btn btn-outline-primary btn-block" th:href="@{/bid/view/{id}(id=${demand.id})}">查看竞标</a>
                        <a class="btn btn-outline-primary btn-block" th:if="${session.user.id == demand.customerId}"
                           th:href="@{/demand/edit/{id}(id=${demand.id})}">修改需求信息</a>
                        <button class="btn btn-outline-danger btn-block" th:if="${session.user.id == demand.customerId}"
                                onclick="showConfirm('确定要删除此需求吗？', this.getAttribute('data-url'));"
                                data-th-attr="data-url=@{/demand/delete/{id}(id=${demand.id})}">删除需求</button>
                    </div>
                </div>
            </div> <!-- /Right column -->
        </div>
    </div> <!-- /container -->
</main>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>