<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment('登录')">
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<nav th:replace="fragments/header :: navFragment"></nav>


<main role="main">
    <div class="container container-main">
        <!-- Example row of columns -->
        <div class="text-black-50">需求详情</div>
        <h2 class="h2" th:text="${demand.title}">XXX 网络教学平台</h2>
        <div class="row">
            <!-- Left column -->
            <div class="col-md-8">
                <div class="alert alert-info">
                    此需求已被承包，再找找其他需求吧。
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">预期价格</div>
                    <div class="h4 text-danger" th:text="${demand.price}">￥5600.00</div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">介绍</div>
                    <div class="sh4" th:text="${demand.detail}">
                        网络教学平台作为传统教学的有效辅助手段，是现在各个高校研究与探讨教学模式改革的热点，得到越来越多的关注，已经逐步成为教学活动的一个重点发展模式。本项目基于校园网，以培养学生自主学习和创造性学习为核心，结合传统教学过程中的关键环节，充分发挥教师、学生的交互作用，为学生、教师提供一个开放式的教、学、管三合一的综合教学环境，实现校园内的教学资源共享和跨时空的师生互动，建成一个功能完整、高效稳定、安全可靠的基于网络的教学平台。本平台可以实现教师课程资源上传、成绩管理、在线答疑，学生下载课程资源、在线测试、实训练习等功能。该网络教学平台的建成将为我校今后的数字化校园建设打下扎实基础，同时，我校师生通过该平台能够进行积极的教学交流，激发学生的学习潜能，提高学生的学习效率，促进我校教育教学结构的改革，提高教育教学信息化的水平。
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">期限</div>
                    <div class="sh4"
                         th:text="${#dates.format(demand.startDate,'yyyy-MM-dd')}+'~'+ ${#dates.format(demand.endDate,'yyyy-MM-dd')}">
                        2018-11-20 09:36 ~ 2018-11-31
                        09:36
                    </div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">附件</div>
                    <div class="sh4"><a href="#" th:text="${demand.attachment}">下载附件</a></div>
                </div>
                <div class="p-3 mb-3 bg-white">
                    <div class="text-black-50">对此需求感兴趣？参与竞标即有机会承包项目。</div>
                    <a href="#" class="btn btn-primary disabled">参与竞标</a>
                </div>
            </div> <!-- /Left column -->

            <!-- Right column -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">更多信息</div>
                    <div class="card-body">
                        <div class="text-black-50">发布者</div>
                        <p class="sh4" th:text="${demand.customerId}">CUSTOMER1</p>
                        <div class="text-black-50">发布时间</div>
                        <p class="sh4" th:text="${#dates.format(demand.publishTime,'yyyy-MM-dd HH:mm')}">2018-11-20
                            09:36</p>
                        <div class="text-black-50">地区</div>
                        <p class="sh4" th:text="${demand.region}">天津</p>
                        <div class="text-black-50">分类</div>
                        <p class="sh4" th:text="${demand.categoryId}">教育</p>
                        <a href="bid.html" class="text-primary">查看竞标<i class="mi mi-ChevronRight"></i></a><br/>
                        <a th:if="${session.user.id==demand.customerId}" th:href="@{'/editdemand/'+ ${demand.id}}">修改需求信息<i
                                class="mi mi-ChevronRight"></i></a>
                    </div>

                </div>
            </div> <!-- /Right column -->
        </div>
    </div> <!-- /container -->
</main>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>