<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment('反馈详情')">
    <meta charset="UTF-8">
    <title>反馈详情</title>
</head>
<body>
<nav th:replace="fragments/header :: navFragment"></nav>

<main role="main">
    <div class="container container-main">
        <!-- Example row of columns -->
        <div class="text-black-50">反馈详情</div>
        <h2 class="h2" th:text="${feedback.title}">反馈</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-info" th:if="${feedback.reply == null}">请等待管理员处理并回复此反馈。</div>
                <div class="shadow-sm p-3 mb-3 bg-white" th:if="${feedback.url != null && !feedback.url.isEmpty()}">
                    <div class="text-black-50">反馈时间</div>
                    <div class="sh4" th:text="${#dates.format(feedback.submitTime, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white" th:if="${feedback.url != null && !feedback.url.isEmpty()}">
                    <div class="text-black-50">反馈页面链接</div>
                    <div class="sh4" th:text="${feedback.url}"></div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">反馈内容</div>
                    <div class="sh4" th:text="${feedback.content}"></div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white" th:if="${feedback.reply != null}">
                    <div class="text-black-50">管理员回复</div>
                    <div class="sh4" th:text="${feedback.reply}"></div>
                </div>
            </div>
            <!-- Right column -->
            <div class="col-md-4">
                <!--Card-->
                <div class="card">
                    <div class="card-header">提示</div>
                    <div class="card-body">
                        对处理结果不满意？继续
                        <a href="#" class="text-primary" th:href="@{/feedback/new}">发送反馈</a>
                    </div>
                </div>
                <!--/.Card-->
            </div> <!-- /Right column -->
        </div>
    </div> <!-- /container -->
</main>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>
