<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment('首页')">
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<nav th:replace="fragments/header :: navFragment"></nav>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" th:if="${session.user == null}">
        <div class="container">
            <h1 class="display-4">欢迎来到 CROWD 众包平台</h1>
            <p>CROWD开发信息资源平台是我方承接开发的一个大型互联网开发平台项目 开创式地为人才与雇主搭建起双边市场 通过线上线下资源整合与大数据服务 实现人才与雇主精准无缝对接。让雇主可以在平台上“找专业人做专业事”
                进而专注于自身核心业务、提高工作效率。</p>
            <p><a class="btn btn-outline-primary" href="#" role="button">立即注册 &raquo;</a></p>
        </div>
    </div>

    <div class="container container-main">
        <!-- Example row of columns -->
        <div class="row">
            <!-- Left column -->
            <div class="col-md-8">
                <p th:if="${!isSearch}">
                    <a class="btn" role="button" th:href="@{/}"
                       th:classappend="${categoryId == 0 ? 'btn-info' : 'btn-outline-info'}">全部</a>
                    <th:block th:each="category : ${categories}">
                        <a href="#" class="btn" role="button" th:text="${category.name}"
                           th:href="@{'?category=' + ${category.id}}"
                           th:classappend="${categoryId == category.id ? 'btn-info' : 'btn-outline-info'}">分类</a>
                    </th:block>
                </p>
                <h2 class="h2" th:if="${isSearch}">搜索结果</h2>
                <hr>
                <div class="alert alert-info" th:if="${demands.content.isEmpty()}">没有找到任何需求</div>
                <div class="card-list">
                    <div class="card mb-3" th:each="demand : ${demands.content}">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class="badge badge-info" th:text="${categoryMap.get(demand.categoryId)}">教育</span>
                                <a th:href="@{'/demand/view/'+ ${demand.id}}" th:text="${demand.title}">XXX</a>
                            </h5>
                            <div class=" card-text">
                                <div class="card-text-item">
                                    期限: <span
                                        th:text="${#dates.format(demand.startDate,'yyyy-MM-dd')} + '~' + ${#dates.format(demand.endDate,'yyyy-MM-dd')}"></span>
                                </div>
                                <div class="card-text-item">
                                    地区: <span th:text="${demand.region}"></span>
                                </div>
                                <div class="card-text-item">
                                    发布日期: <span th:text="${#dates.format(demand.publishTime,'yyyy-MM-dd HH:mm')}"></span>
                                    <span class="text-danger float-right list-price h5" th:text="'￥' + ${demand.price}">5600.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- pagination -->
                <nav aria-label="Page navigation" th:if="${demands.totalPage > 1}">
                    <ul class="pagination" th:if="${categoryId == 0}">
                        <li class="page-item" th:if="${!demands.isFirst()}">
                            <a class="page-link" href="#" aria-label="Previous"
                               th:href="@{'?page=' + ${demands.currentPage - 1}}">
                                <span aria-hidden="true">
                                    <i class="mi mi-ChevronLeft"></i> Prev
                                </span>
                                <span class="sr-only">Prev</span>
                            </a>
                        </li>
                        <li class="page-item" th:if="${demands.totalPage > 0}"
                            th:each="i : ${#numbers.sequence(1, demands.getTotalPage())}"
                            th:classappend="${demands.currentPage == i ? 'active' : ''}">
                            <a class="page-link" th:href="@{'?page=' + ${i}}" th:text="${i}">1</a>
                        </li>
                        <li class="page-item" th:if="${!demands.isLast()}">
                            <a class="page-link" href="#" aria-label="Next"
                               th:href="@{'?page=' + ${demands.currentPage + 1}}">
                                <span aria-hidden="true">Next
                                    <i class="mi mi-ChevronRight"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="pagination" th:if="${categoryId != 0}">
                        <li class="page-item" th:if="${!demands.isFirst()}">
                            <a class="page-link" href="#" aria-label="Previous" th:href="@{'?category=' + ${categoryId} + '&page=' + ${demands.currentPage - 1}}">
                                <span aria-hidden="true">
                                    <i class="mi mi-ChevronLeft"></i> Prev
                                </span>
                                <span class="sr-only">Prev</span>
                            </a>
                        </li>
                        <li class="page-item" th:if="${demands.totalPage > 0}" th:each="i : ${#numbers.sequence(1, demands.getTotalPage())}"
                            th:classappend="${demands.currentPage == i ? 'active' : ''}">
                            <a class="page-link" th:href="@{'?category=' + ${categoryId} + '&page=' + ${i}}" th:text="${i}">1</a>
                        </li>
                        <li class="page-item" th:if="${!demands.isLast()}">
                            <a class="page-link" href="#" aria-label="Next" th:href="@{'?category=' + ${categoryId} + '&page=' + ${demands.currentPage + 1}}">
                                <span aria-hidden="true">Next
                                    <i class="mi mi-ChevronRight"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div> <!-- /Left column -->

            <!-- Right column -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header">
                        搜索需求
                        <a href="#" class="text-primary float-right">高级</a>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/demand/search}">
                            <p>
                                <input placeholder="输入关键词并按下 Enter ..." type="text" id="inputSearch"
                                       class="form-control" name="keyword">
                            </p>
                            <input type="submit" class="btn btn-primary" value="搜索">
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">公告</div>
                    <div class="card-body">
                        <ul>
                            <li th:each="announcement : ${announcements.content}">
                                <a th:href="@{'/announcements/' + ${announcement.id}}" th:text="${announcement.title}">1</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> <!-- /Right column -->
        </div>
    </div> <!-- /container -->
</main>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>