<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment('订单详情')">
    <meta charset="UTF-8">
    <title>订单详情</title>
</head>
<body>
<nav th:replace="fragments/header :: navFragment"></nav>

<main role="main">
    <div class="container container-main">
        <!-- Example row of columns -->
        <h2 class="h2">订单详情</h2>
        <div class="row slide-up-fade-in">
            <!-- Left column -->
            <div class="col-md-8">
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">需求</div>
                    <div class="sh4" th:text="${demand.title}">demand</div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">开发者</div>
                    <div class="sh4" th:text="${devProfile.name}">dev</div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">需求方</div>
                    <div class="sh4" th:text="${customerProfile.name}">customer</div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">价格</div>
                    <div class="sh4 text-danger" th:text="'￥'+ ${order.price}">￥5600.00</div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">订单时间</div>
                    <div class="sh4" th:text="${#dates.format(order.orderTime, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white" th:if="${order.completeTime != null}">
                    <div class="text-black-50">完成时间</div>
                    <div class="sh4" th:text="${#dates.format(order.completeTime, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white">
                    <div class="text-black-50">状态</div>
                    <div class="sh4" th:text="${orderStatusMap.get(order.status)}"></div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white" th:if="${comment.customerComment != null}">
                    <div class="text-black-50">需求方评价</div>
                    <div class="sh4" th:text="${comment.customerComment}"></div>
                </div>
                <div class="shadow-sm p-3 mb-3 bg-white" th:if="${comment.devComment != null}">
                    <div class="text-black-50">开发者评价</div>
                    <div class="sh4" th:text="${comment.devComment}"></div>
                </div>
            </div> <!-- /Left column -->

            <!-- Right column -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">操作</div>
                    <div class="card-body">
                        <th:block th:if="${order.status == 'COMPLETED' &&
                            ((isDev && comment.devComment == null) || (isCustomer && comment.customerComment == null))}">
                            <form method="post" th:action="@{/order/comment}">
                                <input type="hidden" name="orderId" th:value="${order.id}">
                                <input type="hidden" name="type" th:value="${isDev ? 'dev' : 'customer'}">
                                <div class="form-group">
                                    <label class="form-label" for="comment" th:text="${isDev ? '评价需求方' : '评价开发者'}">评价</label>
                                    <textarea class="form-control" id="comment" name="comment" rows="5" required></textarea>
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" value="发表评价">
                            </form>
                            <hr>
                        </th:block>
                        <a class="btn btn-outline-primary btn-block" th:href="@{/demand/view/{id}(id=${demand.id})}">查看需求</a>
                        <th:block th:if="${isCustomer}">
                            <button class="btn btn-outline-danger btn-block" th:if="${order.status == 'UNPAID'}"
                                    onclick="showConfirm('确定要取消并删除此订单吗？', this.getAttribute('data-url'));"
                                    data-th-attr="data-url=@{/order/delete/{id}(id=${order.id})}">取消订单</button>
                            <a class="btn btn-outline-success btn-block" th:href="@{/order/pay/{id}(id=${order.id})}"
                               th:if="${order.status == 'UNPAID'}">付款</a>
                            <a class="btn btn-outline-success btn-block" th:href="@{/order/accept/{id}(id=${order.id}, action='pass')}"
                               th:if="${order.status == 'PENDING'}">验收通过</a>
                        </th:block>
                        <th:block th:if="${isDev}">
                            <a class="btn btn-outline-success btn-block" th:href="@{/order/accept/{id}(id=${order.id}, action='request')}"
                               th:if="${order.status == 'PAID'}">申请验收</a>
                        </th:block>
                    </div>
                </div>
            </div> <!-- /Right column -->
        </div>
    </div> <!-- /container -->
</main>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>