<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment('用户中心')">
    <meta charset="UTF-8">
    <title>用户中心</title>
</head>
<body>
<nav th:replace="fragments/header :: navFragment"></nav>

<main role="main">
    <div class="container container-main">
        <!-- Example row of columns -->
        <h2 class="h2">用户中心</h2>
        <div class="row slide-up-fade-in">
            <div class="col-md-12">
                <ul class="nav nav-tabs fluent-tabs" id="userCenterTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="basic-info-tab" data-toggle="tab" href="#basic-info" role="tab"
                           aria-controls="basic-info" aria-selected="true"
                           th:classappend="${(page != 'dev' && page != 'customer') ? 'active' : ''}">基本信息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="dev-profile-tab" data-toggle="tab" href="#dev-profile" role="tab"
                           aria-controls="dev-profile" aria-selected="false"
                           th:classappend="${page == 'dev' ? 'active' : ''}">开发者资料</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="customer-profile-tab" data-toggle="tab" href="#customer-profile"
                           role="tab" aria-controls="customer-profile" aria-selected="false"
                           th:classappend="${page == 'customer' ? 'active' : ''}">需求方资料</a>
                    </li>
                </ul>
                <div class="tab-content" id="userCenterTabContent">
                    <!-- first tab -->
                    <div class="tab-pane fade" id="basic-info" role="tabpanel" aria-labelledby="basic-info-tab"
                         th:classappend="${(page != 'dev' && page != 'customer') ? 'show active' : ''}">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="shadow-sm p-3 mb-3 bg-white">
                                    <h4>修改电子邮箱</h4>
                                    <div class="alert alert-warning" th:if="${session.user.activateCode != null}">
                                        您的邮箱尚未验证，请尽快查收验证邮件并完成验证。
                                    </div>
                                    <form method="post" th:action="@{/user/profile}">
                                        <input type="hidden" name="action" value="changeEmail">
                                        <div class="form-group">
                                            <input placeholder="电子邮箱" type="email" name="email" class="form-control" required>
                                        </div>
                                        <input class="btn btn-primary" type="submit" value="保存">
                                    </form>
                                </div>
                                <div class="shadow-sm p-3 mb-3 bg-white">
                                    <h4>修改密码</h4>
                                    <form method="post" th:action="@{/user/profile}">
                                        <input type="hidden" name="action" value="changePassword">
                                        <div class="form-group">
                                            <label for="password">当前密码</label>
                                            <input placeholder="密码" type="password" id="password" name="password" class="form-control"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label for="new-password">新密码</label>
                                            <input placeholder="新密码" type="password" id="new-password" name="newPassword" class="form-control"
                                                   required>
                                        </div>
                                        <div class="form-group">
                                            <label for="new-password">确认密码</label>
                                            <input placeholder="确认密码" type="password" id="confirm-password" name="confirmPassword"
                                                   class="form-control" required>
                                        </div>
                                        <input class="btn btn-primary" type="submit" value="保存">
                                    </form>
                                </div>
                                <div class="shadow-sm p-3 mb-3 bg-white">
                                    <h4>两步验证</h4>
                                    <div id="2fa-enable" th:if="${session.user.twoFactor == null}">
                                        <div class="alert alert-info">
                                            使用身份验证器应用扫描下方的二维码或输入代码添加账户，然后提交应用中生成的验证码以启用两步验证。启用后，在登录时将要求您输入两步验证代码。
                                        </div>
                                        <img src="" alt="两步验证二维码" th:src="@{/get/qr(content=${twoFactorTotpURL})}">
                                        <p>
                                            KEY: <code th:text="${twoFactorKey}">2faKey</code>
                                        </p>
                                        <form method="post" th:action="@{/user/profile}">
                                            <input type="hidden" name="action" value="enable2FA">
                                            <input type="hidden" name="twoFactorKey" th:value="${twoFactorKey}">
                                            <div class="form-group">
                                                <label for="2fa-code">两步验证代码</label>
                                                <input placeholder="输入由身份验证器生成的验证码" type="text" id="2fa-code" name="twoFactorCode"
                                                       class="form-control" required>
                                            </div>
                                            <input class="btn btn-primary" type="submit" value="启用两步验证">
                                        </form>
                                    </div>

                                    <div id="2fa-disable" th:if="${session.user.twoFactor}">
                                        <div class="alert alert-info">
                                            您已启用两步验证，在下方输入两步验证代码可以将其停用。停用两步验证将会降低您账户的安全性。
                                        </div>
                                        <form method="post" th:action="@{/user/profile}">
                                            <input type="hidden" name="action" value="disable2FA">
                                            <div class="form-group">
                                                <label for="2fa-code-disable">两步验证代码</label>
                                                <input placeholder="输入由身份验证器生成的验证码" type="text" id="2fa-code-disable" name="twoFactorCode"
                                                       class="form-control" required>
                                            </div>
                                            <input class="btn btn-primary" type="submit" value="停用两步验证">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Right column -->
                            <div class="col-md-4">
                                <!--Card-->
                                <div class="card">
                                    <div class="card-header">用户信息</div>
                                    <!-- Card body -->
                                    <div class="card-body text-center">
                                        <h5 class="card-title pt-2 pb-0 mb-2" th:text="${session.user.username}">
                                            Username</h5>
                                        <p class="card-subtitle" th:text="${session.user.email}">mail@example.com</p>
                                        <!-- Text -->
                                        <p class="card-text">
                                            账户余额：<code th:text="${session.user.balance}">0</code>
                                        </p>
                                    </div>
                                </div>
                                <!--/.Card-->
                            </div> <!-- /.Right column -->
                        </div>
                    </div>
                    <!-- second tab -->
                    <div class="tab-pane fade" id="dev-profile" role="tabpanel" aria-labelledby="dev-profile-tab"
                         th:classappend="${page == 'dev' ? 'show active' : ''}">
                        <div class="row">
                            <div class="col-md-8 col-profile-form">
                                <div class="alert alert-warning" th:if="${devProfile.status == 'PENDING'}">
                                    您的开发者认证正在审核中，暂时无法使用相关功能。
                                </div>
                                <div class="alert alert-info" th:if="${devProfile.status == null}">
                                    您还未填写开发者资料，填写并申请认证后才可使用相关功能。
                                </div>
                                <div class="alert alert-info" th:if="${devProfile.status == 'UNVERIFIED'}">
                                    您还未申请开发者认证，认证后才可使用相关功能。
                                    <a href="#" class="alert-link float-right">申请认证</a>
                                </div>
                                <div class="shadow-sm p-3 mb-3 bg-white">
                                    <form method="post" enctype="multipart/form-data"
                                          th:action="@{/user/profile/updateDev}" th:object="${devProfile}">
                                        <div class="form-group">
                                            <label for="dev-name">名称</label>
                                            <input placeholder="名称" type="text" id="dev-name" class="form-control" required
                                                   th:field="*{name}">
                                        </div>
                                        <div class="form-group">
                                            <label for="dev-email">电子邮箱</label>
                                            <input placeholder="电子邮箱" type="email" id="dev-email" class="form-control" required
                                                   th:field="*{email}">
                                        </div>
                                        <div class="form-group">
                                            <label for="dev-phone">电话</label>
                                            <input placeholder="电话" type="tel" id="dev-phone" class="form-control" required
                                                   th:field="*{phone}">
                                        </div>
                                        <div class="form-group">
                                            <label for="dev-photo">照片（创建资料时必须上传，修改资料时不更改则无需上传）</label>
                                            <input type="file" accept=".jpg,.png" id="dev-photo" class="form-control" name="photo"
                                                   th:required="${devProfile.status == null}">
                                        </div>
                                        <div class="form-group">
                                            <label for="dev-bio">简介</label>
                                            <input placeholder="简介" type="text" id="dev-bio" class="form-control" required
                                                   th:field="*{bio}">
                                        </div>
                                        <div class="form-group">
                                            <label for="dev-alipay">支付宝账号</label>
                                            <input placeholder="支付宝账号" type="text" id="dev-alipay" class="form-control" required
                                                   th:field="*{alipay}">
                                        </div>
                                        <input class="btn btn-primary" type="submit" value="保存">
                                    </form>
                                </div>
                            </div>
                            <!-- Right column -->
                            <div class="col-md-4">
                                <div class="card" th:if="${devProfile.status != null}">
                                    <div class="py-3 w-100 grey"></div>
                                    <div class="position-relative h-100">
                                        <div class="h-50 w-100 grey position-absolute text-white text-center">
                                        </div>
                                        <!-- Card image -->
                                        <div class="w-50 mx-auto position-relative">
                                            <img src="" class="card-img-top avatar" th:src="@{'/uploads/' + ${devProfile.photo}}" alt="userAvatar">
                                        </div>
                                    </div>
                                    <!-- Card body -->
                                    <div class="card-body text-center">
                                        <h5 class="card-title pt-2 pb-0 mb-2" th:text="${devProfile.name}">devName</h5>
                                        <p class="card-subtitle">
                                            <span class="badge badge-default" th:text="${'Lv. ' + devProfile.level}">Lv. 5</span>
                                        </p>
                                        <!-- Text -->
                                        <p class="card-text" th:text="${devProfile.bio}">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, deserunt.
                                        </p>
                                        <ul class="mi-ul pl-4 text-left">
                                            <li>
                                                <i class="mi-li mi mi-Mail"></i><span th:text="${devProfile.email}">mail@example.com</span>
                                            </li>
                                            <li>
                                                <i class="mi-li mi mi-Phone"></i><span th:text="${devProfile.phone}">15623333333</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- /Right column -->
                        </div>
                    </div>
                    <!-- third tab -->
                    <div class="tab-pane fade" id="customer-profile" role="tabpanel" aria-labelledby="customer-profile-tab"
                         th:classappend="${page == 'customer' ? 'show active' : ''}">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="alert alert-warning" th:if="${customerProfile.status == 'PENDING'}">
                                    您的需求方认证正在审核中，暂时无法使用相关功能。
                                </div>
                                <div class="alert alert-info" th:if="${customerProfile.status == null}">
                                    您还未填写需求方资料，填写并申请认证后才可使用相关功能。
                                </div>
                                <div class="alert alert-info" th:if="${customerProfile.status == 'UNVERIFIED'}">
                                    您还未申请需求方认证，认证后才可使用相关功能。
                                    <a href="#" class="alert-link float-right">申请认证</a>
                                </div>
                                <div class="shadow-sm p-3 mb-3 bg-white">
                                    <form method="post" enctype="multipart/form-data"
                                          th:action="@{/user/profile/updateCustomer}" th:object="${customerProfile}">
                                        <div class="form-group">
                                            <label for="customer-name">名称</label>
                                            <input placeholder="名称" type="text" id="customer-name" class="form-control" required
                                                   th:field="*{name}">
                                        </div>
                                        <div class="form-group">
                                            <label for="customer-email">电子邮箱</label>
                                            <input placeholder="电子邮箱" type="email" id="customer-email" class="form-control" required
                                                   th:field="*{email}">
                                        </div>
                                        <div class="form-group">
                                            <label for="customer-phone">电话</label>
                                            <input placeholder="电话" type="tel" id="customer-phone" class="form-control" required
                                                   th:field="*{phone}">
                                        </div>
                                        <div class="form-group">
                                            <label for="customer-photo">照片（创建资料时必须上传，修改资料时不更改则无需上传）</label>
                                            <input type="file" accept=".jpg,.png" id="customer-photo" class="form-control" name="photo"
                                                   th:required="${customerProfile.status == null}">
                                        </div>
                                        <div class="form-group">
                                            <label for="customer-bio">简介</label>
                                            <input placeholder="简介" type="text" id="customer-bio" class="form-control" required
                                                   th:field="*{bio}">
                                        </div>
                                        <div class="form-group">
                                            <label for="customer-alipay">支付宝账号</label>
                                            <input placeholder="支付宝账号" type="text" id="customer-alipay" class="form-control" required
                                                   th:field="*{alipay}">
                                        </div>
                                        <input class="btn btn-primary" type="submit" value="保存">
                                    </form>
                                </div>
                            </div>
                            <!-- Right column -->
                            <div class="col-md-4">
                                <div class="card" th:if="${customerProfile.status != null}">
                                    <div class="py-3 w-100 grey"></div>
                                    <div class="position-relative h-100">
                                        <div class="h-50 w-100 grey position-absolute text-white text-center">
                                        </div>
                                        <!-- Card image -->
                                        <div class="w-50 mx-auto position-relative">
                                            <img src="" class="card-img-top avatar" th:src="@{'/uploads/' + ${customerProfile.photo}}" alt="userAvatar">
                                        </div>
                                    </div>
                                    <!-- Card body -->
                                    <div class="card-body text-center">
                                        <h5 class="card-title pt-2 pb-0 mb-2" th:text="${customerProfile.name}">
                                            CustomerName</h5>
                                        <p class="card-subtitle">
                                            <span class="badge badge-default" th:text="${'Lv. ' + customerProfile.level}">Lv. 5</span>
                                        </p>
                                        <!-- Text -->
                                        <p class="card-text" th:text="${customerProfile.bio}">
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, deserunt.
                                        </p>
                                        <ul class="mi-ul pl-4 text-left">
                                            <li>
                                                <i class="mi-li mi mi-Mail"></i><span th:text="${customerProfile.email}">mail@example.com</span>
                                            </li>
                                            <li>
                                                <i class="mi-li mi mi-Phone"></i><span th:text="${customerProfile.phone}">15623333333</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- /Right column -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
</main>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>