<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment('我的需求')">
    <meta charset="UTF-8">
    <title>我的需求</title>
</head>
<body>
<nav th:replace="fragments/header :: navFragment"></nav>

<main role="main">
    <div class="container container-main">
        <!-- Example row of columns -->
        <div class="row">
            <!-- Left column -->
            <div class="col-md-8">
                <p>
                    <a href="#" class="btn btn-outline-info" th:href="@{'/demand/new'}" role="button"
                       aria-pressed="false">新增需求</a>
                </p>
                <hr>
                <div class="card-list">
                    <div class="card mb-3" th:each="demand : ${demands.content}">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class="badge badge-info" th:text="${categoryMap.get(demand.categoryId)}">教育</span>
                                <a th:href="@{'/demand/view/'+ ${demand.id}}"> <span th:text="${demand.title}">XXX 网络教学平台网络教学平台网络教学平台网络教学平台</span>
                                    <span class="text-danger float-right list-price h5"
                                          th:text="'状态：' + ${statusMap.get(demand.status)}">审核中</span>
                                </a>
                            </h5>
                            <div class=" card-text">
                                <div class="card-text-item">
                                    起始时间： <span
                                        th:text="${#dates.format(demand.startDate,'yyyy-MM-dd')} + '~' + ${#dates.format(demand.endDate,'yyyy-MM-dd')}"></span>
                                </div>
                                <div class="card-text-item">
                                    地区： <span th:text="${demand.region}"></span>
                                </div>
                                <div class="card-text-item">
                                    发布日期：<span th:text="${#dates.format(demand.publishTime,'yyyy-MM-dd HH:mm')}"></span>
                                    <span class="text-danger float-right list-price h5" th:text="'￥' + ${demand.price}">5600.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:if="${!demands.isFirst()}">
                            <a class="page-link" href="#" aria-label="Previous"
                               th:href="@{'?page=' + ${demands.currentPage - 1}}">
                                <span aria-hidden="true">
                                    <i class="mi mi-ChevronLeft"></i> Prev
                                </span>
                                <span class="sr-only">Prev</span>
                            </a>
                        </li>
                        <li class="page-item" th:if="${demands.totalPage > 0}"
                            th:each="i : ${#numbers.sequence(1, demands.getTotalPage())}"
                            th:classappend="${demands.currentPage == i ? 'active' : ''}">
                            <a class="page-link" th:href="@{'?page=' + ${i}}" th:text="${i}">1</a>
                        </li>
                        <li class="page-item" th:if="${!demands.isLast()}">
                            <a class="page-link" href="#" aria-label="Next"
                               th:href="@{'?page=' + ${demands.currentPage + 1}}">
                                <span aria-hidden="true">Next
                                    <i class="mi mi-ChevronRight"></i>
                                </span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div> <!-- /Left column -->

            <!-- Right column -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-header">
                        搜索需求
                        <a href="#" class="text-primary float-right">高级</a>
                    </div>
                    <div class="card-body">
                        <form method="get" th:action="@{/demand/search/customer}">
                            <p>
                                <input placeholder="输入关键词并按下 Enter ..." type="text" id="inputSearch"
                                       class="form-control"
                                       name="key1">
                            </p>
                            <input type="submit" class="btn btn-primary" value="搜索">
                        </form>
                    </div>
                </div>
                <!--<div class="card">
                    <div class="card-header">公告</div>
                    <div class="card-body">
                        <p>系统公告</p>
                        <p>系统公告</p>
                        <p>系统公告</p>
                        <p>系统公告</p>
                        <p>系统公告</p>
                    </div>
                </div>-->
            </div> <!-- /Right column -->
        </div>
    </div> <!-- /container -->
</main>


<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>