<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header fragment</title>
</head>
<body>
<th:block th:fragment="headerFragment">
    <div class="header py-4">
        <div class="container">
            <div class="d-flex">
                <a class="header-brand" href="#" th:href="@{/admin/dashboard}">
                    CROWD 众包平台
                </a>
                <div class="d-flex order-lg-2 ml-auto">
                    <div class="dropdown">
                        <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
                                <span class="ml-2 d-none d-lg-block">
                                    <span class="text-default" th:text="${session.admin.username}">Username</span>
                                    <small class="text-muted d-block mt-1">管理员</small>
                                </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="#">
                                <i class="dropdown-icon fe fe-user"></i> 个人设置
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" th:href="@{/admin/logout}">
                                <i class="dropdown-icon fe fe-log-out"></i> 退出
                            </a>
                        </div>
                    </div>
                </div>
                <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse"
                   data-target="#headerMenuCollapse">
                    <span class="header-toggler-icon"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg order-lg-first">
                    <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                        <li class="nav-item">
                            <a href="#" class="nav-link" th:href="@{/admin/dashboard}"
                               th:classappend="${#request.requestURI.contains('/dashboard') ? 'active' : ''}">
                                <i class="fe fe-home"></i>仪表板</a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"
                               th:classappend="${#request.requestURI.contains('/demand') ? 'active' : ''}">
                                <i class="fe fe-box"></i> 需求</a>
                            <div class="dropdown-menu dropdown-menu-arrow">
                                <a href="#" class="dropdown-item " th:href="@{/admin/demand}">需求管理</a>
                                <a href="#" class="dropdown-item ">统计信息</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"
                               th:classappend="${#request.requestURI.contains('/bid') ? 'active' : ''}">
                                <i class="fe fe-target"></i>竞标</a>
                            <div class="dropdown-menu dropdown-menu-arrow">
                                <a href="#" class="dropdown-item " th:href="@{/admin/bid}">竞标管理</a>
                                <a href="#" class="dropdown-item ">统计信息</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"
                               th:classappend="${#request.requestURI.contains('/user') ? 'active' : ''}">
                                <i class="fe fe-users"></i> 用户</a>
                            <div class="dropdown-menu dropdown-menu-arrow">
                                <a href="#" class="dropdown-item " th:href="@{/admin/user}">用户管理</a>
                                <a href="#" class="dropdown-item " th:href="@{/admin/user/developerprofile}">开发者管理</a>
                                <a href="#" class="dropdown-item " th:href="@{/admin/user/customerprofile}">需求方管理</a>
                                <a href="#" class="dropdown-item ">认证审批</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"
                               th:classappend="${#request.requestURI.contains('/system') ? 'active' : ''}">
                                <i class="fe fe-settings"></i> 系统</a>
                            <div class="dropdown-menu dropdown-menu-arrow">
                                <a href="#" class="dropdown-item ">系统设置</a>
                                <a href="#" class="dropdown-item ">数据管理</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>